<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" type="text/css" href='/css/style.css'>
  </head>
  <body>
  <div class="top">
  <div class="create"><h1> ⇒ <a href="/gossips/new/">Create New Gossip</a> ⇐ </h1></div>
  </div>
  <div class="middle">
  <h2>GOSSIP LIST</h2>
  
  <% gossips.each.with_index do |gossip, index| %>
    <p>
      <div class="list">
      <div class="author"><%= gossip.author %></div>
      <div class="content"><%= gossip.content %></div>
      <div class="buttons"><input type="button" onclick="location.href='/gossips/<%= index %>/edit/';" value="EDIT"/></div>
      <div class="buttons"><input type="button" onclick="location.href='gossips/<%= index %>';" value="VIEW"/></div>
      </div>
    </p>
  <% end %>

  </div>


  </body>
</html>