<html>
  <head>
    <title>NEW GOSSIP</title>
    <link rel="stylesheet" type="text/css" href='/css/style.css'>
  </head>
  <body>
  <br/>
  <div class="top">
    <h2>New Gossip</h2>
  </div>
  <br/>
  <div class="bottom">
    <form action='/gossips/new/' method='POST'>
      Author : <input type='text' name='gossip_author'/><br/><br/>
      Gossip : <input type='text' name='gossip_content'/><br/><br/>
      <input type='submit'/>
    </form>
    </div>
    <br/>
    <b><a href="/">Back to Menu</a></b>
  </body>
</html>